@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer {
  background: url(../src/img/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background: rgba(17, 17, 17, 0.25);
    box-shadow: 0 8px 32px 0 rgba(56, 56, 63, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: white;
      font-weight: bold;
      font-size: 24px;
    }

    .title {
      color: white;
      font-size: 14px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        background-color: transparent;
        border: none;
        width: 250px;
        color: white;
        border-bottom: 1px solid white;
        &::placeholder {
          color: white;
        }
        &:focus-visible {
          outline: none;
        }
      }

      button {
        background-color: #4e8b79;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: white;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.home {
  background: url(../src/img/bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    box-shadow: 0 8px 32px 0 rgba(89, 90, 102, 0.7);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #498072;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #276051;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #ddddf7;

        .logo {
          font-weight: bold;
          font-size: 22px;
          font-family: "Poppins";
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;
          align-items: center;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #467e71;
            color: #ddddf7;
            font-size: 15px;
            border: none;
            font-family: "Poppins";
            border-radius: 5px;
            padding: 10px 15px;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #276051;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: lightgray;
          }
        }
      }
    }
    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: #4a8071;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
        font-family: "Poppins";
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background: url(../src/img/bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        font-family: "Poppins";
        background-color: #9ab6b1;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;
        &::-webkit-scrollbar {
          width: 10px; /* Width of the scrollbar */
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1; /* Color of the track */
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #888; /* Color of the scroll handle */
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555; /* Color of the scroll handle on hover */
        }

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: white;
            font-weight: 300;
            font-family: "Poppins";

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: #23604f;
              padding: 10px 20px;
              color: white;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #23604f;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;
          font-family: "Poppins";

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: #23604f;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.MuiSvgIcon-root {
  color: white !important;
}
.css-thovm-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  border: 1px solid white !important;
  padding: 0px 15px !important;
}
